In [36]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [37]:
df = pd.read_table('raw_results.txt', sep='\t').drop(columns='rep')

In [38]:
df

     le  noise  ks1  ks2  epochs     acc
0     0      0    3    3       5  0.9081
1     0      0    3    3      10  0.9279
2     0      0    3    3      20  0.9445
3     0      0    3    8       5  0.9205
4     0      0    3    8      10  0.9428
..   ..    ...  ...  ...     ...     ...
103  40     40    8    3      10  0.9086
104  40     40    8    3      20  0.9261
105  40     40    8    8       5  0.8713
106  40     40    8    8      10  0.9149
107  40     40    8    8      20  0.9309

[108 rows x 6 columns]

In [75]:
model_string = "acc ~ "+"".join(["C(%s)*"%i if i !='acc' else '' for i in df.columns[:-2]])[:-1]

In [76]:
model = ols(model_string, data=df).fit()

In [78]:
sm.stats.anova_lm(model, typ=2)

                                sum_sq    df          F    PR(>F)
C(le)                         0.012787   2.0  12.851229  0.000017
C(noise)                      0.004162   2.0   4.182365  0.019125
C(ks1)                        0.001261   1.0   2.534101  0.115792
C(ks2)                        0.000386   1.0   0.776037  0.381287
C(le):C(noise)                0.000518   4.0   0.260122  0.902545
C(le):C(ks1)                  0.000073   2.0   0.073854  0.928878
C(noise):C(ks1)               0.000156   2.0   0.156554  0.855376
C(le):C(ks2)                  0.000307   2.0   0.308497  0.735516
C(noise):C(ks2)               0.000035   2.0   0.035055  0.965569
C(ks1):C(ks2)                 0.000083   1.0   0.165850  0.685035
C(le):C(noise):C(ks1)         0.000213   4.0   0.107162  0.979664
C(le):C(noise):C(ks2)         0.000085   4.0   0.042699  0.996470
C(le):C(ks1):C(ks2)           0.000008   2.0   0.008300  0.991736
C(noise):C(ks1):C(ks2)        0.000261   2.0   0.262464  0.769887
C(le):C(noise):C(ks1):C(ks2)  0.000091   4.0   0.045681  0.995976
Residual                      0.035821  72.0        NaN       NaN

In [71]:
np.any(df.isna())

False